body{
    margin: 3% 15%;
}

img{
    width: 250px;
    height: 100px;
}

nav{
    border-bottom: 1px solid rgba(255, 0, 0, 0.55);
    padding-bottom: 15px;
    font-size: 23px;
}

.colorRed{
    color: red;
}

.footer{
    text-align: center;
}